<button class="btn btn-link"><i class="icon-folder-close"></i>{{el.title}}</button>
<button class="addFolder btn btn-mini" ng-click="addFolder(el.path)">add folder</button>
<button class="saveNewDocumentHere btn btn-mini" ng-click="saveNewDocumentHere(el.path)">save document here</button>
<ul ng-if="el.document_count > 0">
    <li ng-repeat="el in el.documents" ng-include="'/Resources/public/js/templates/tree-doc.html'"></li>
</ul>
<ul ng-if="el.children_count > 0">
    <li ng-repeat="el in el.folders" ng-include="'/Resources/public/js/templates/tree.html'"></li>
</ul>