@import "bootstrap";
//@import "bootstrap-responsive";

html, body {
    height: 100%;
}

.navbar {
    .nav {
        float: none;

        &>.right {
            float: right;
        }
    }

    .dropdown-toggle {
        .caret {
            border-top-color: #777;
        }

        &:hover .caret {
            border-top-color: #fff;
        }
    }

    .open .dropdown-toggle, .open .dropdown-toggle:hover {
        color: #777;
    }

    .open .dropdown-toggle .caret, .open .dropdown-toggle .caret {
        border-top-color: #777;
    }

    .btn, .btn-group {
        margin-top: 0;
    }

    .btn-link {
        float: none;
        padding: 10px 15px 10px;
        color: #777;
        text-decoration: none;
        text-shadow: none;

        &:hover {
            color: #fff;
            background-color: transparent;
        }
    }

    .dropdown-menu .btn-link {
        display: block;

        &:hover {
            color: #222;
        }
    }
}

.navbar-inverse .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.modal-body hr {
    margin-top: 10px;
}

.modal form {
    margin-bottom: 0;
}

.views {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;

    &>.container {
        display: none;
        padding: 60px 0 100px;
    }
}

.fileviewToggle {
    margin-bottom: 20px;
    text-align: right;
}

.fileviews {
    .actions {
        text-align: center;
    }

    .fileList {
        display: none;
    }
}

.batch {
    margin: 0 0 20px 60px;
    position: relative;

    &:before {
        content: "";
        width: 28px;
        height: 35px;
        position: absolute;
        left: -29px;
        top: 15px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .files & {
        margin-left: 60px;
    }
}

.fileList {
    .table {
        margin-left: 0;
    }

    th:first-child, td:first-child {
        text-align: center;
    }

    td {
        vertical-align: middle;
    }

    input[type="checkbox"] {
        margin-top: 0;
    }
}

.fileStructure {
    clear: left;

    ul {
        display: none;
        position: relative;
        margin: 0 0 0 30px;
        padding: 0;
        list-style: none;

        &:before {
            content: "";
            height: 100%;
            position: absolute;
            left: -11px;
            top: 0;
            border-left: 1px solid #ddd;
        }

        .icon-folder-close {
            margin-top: 0;
        }
    }

    li {
        padding: 4px 0;
        position: relative;

        &:before {
            content: "";
            width: 20px;
            position: absolute;
            left: -11px;
            top: 19px;
            border-top: 1px solid #ddd;
        }

        &:last-child:before {
            height: 100%;
            border-left: 1px solid #fff;
        }

        &:hover > .actions {
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #f3f3f3;
                z-index: -1;
            }
        }
    }

    &>ul {
        display: block;
        margin-left: 42px;
    }

    input[type="checkbox"] {
        margin: 0 0 0 20px;
    }

    .actions {
        position: static;
        margin-right: 10px;
        float: right;
    }

    .showChildren {
        & ~ ul {
            display: block;
        }

        .icon-folder-close {
            background-position: -408px -120px;
        }
    }

    .addFolder,
    .saveNewDocumentHere {
        position: absolute;
        left: 20px;
        top: 29px;
        opacity: 0;
        transition: opacity 0.4s;
        -webkit-transition: opacity 0.4s;
        z-index: 1;
    }

    .addFolder,
    .fileproperties,
    .saveNewDocumentHere {
        display: none;
    }

    .showChildren ~ .addFolder {
        display: block;
    }

    .showChildren:hover  .addFolder,
    .showChildren ~ .addFolder:hover,
    .showChildren:hover ~ .saveNewDocumentHere,
    .showChildren ~ .saveNewDocumentHere:hover {
        opacity: 1;
    }

    .form-horizontal .control-label {
        width: 60px;
    }
    
    .form-horizontal .controls {
        margin-left: 70px;
    }
}

.chooseDirectory {
    width: 600px;
    height: 65%;
    margin-left: -300px;
    padding: 2em;
    position: absolute;
    left: 50%;
    top: 10%;
    background: #fff;
    overflow: auto;
    z-index: 1050;

    .fileviewToggle,
    .batch,
    .addFolder,
    .actions {
        display: none;
    }

    .fileproperties,
    .fileStructure ul ul ul .saveNewDocumentHere {
        display: block;
    }
}

#fileInfos {
    th, td {
        vertical-align: middle;
    }

    .change {
        text-align: center;
    }
}

#printContainer {
    display: none;
    width: 100%;
    min-height: 100%;
    padding: 2em;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff!important;
    z-index: 1100;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    button {
        position: absolute;
        right: 0;
        top: 0;
    }

    iframe {
        width: 100%;
    }
}

.footer {
    color: #999;
    background: #1b1b1b;

    p {
        margin-top: 10px;
    }

    a {
        color: #999;
        text-decoration: underline;

        &:hover {
            color: #fff;
        }
    }

    .right-info {
        float: right;
        text-align: right;
    }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.4) url(../img/loader.gif) no-repeat center;
  z-index: 10000;
}

.printMode {
    .views>.container,
    .navbar,
    .footer,
    .modal {
        display: none!important;
    }
}

@media print {
    #printContainer button {
        display: none;
    }

    ._mei.mei {pointer-events: none}
}